<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doggy Table</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
</head>
<body>
<section class="hero is-primary">
    <div class="hero-body">
        <h1 class="title">look at all those gdps</h1>
    </div>
</section>
<section class="container">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Country</th>
            <th>GDP</th>
        </tr>
        <tr th:each="gdp : ${gdpList}">
            <td th:text="${gdp.id}"/>
            <td th:text="${gdp.name}"/>
            <td th:text="${gdp.gdp}"/>
        </tr>
    </table>
</section>
</body>
</html>